* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body button,
i {
    cursor: pointer;
}

/* #f9933b */


/* Navbar Start */
.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
    /* padding: 1rem; */
    /* position: fixed;
       width: 100%; */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-logo img {
    width: 100px;
    padding-top: 5px;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding-top: 8px;
}

.navbar-links ul li a,
.navbar-links ul li {
    padding: 13px;
    letter-spacing: 1px;
    /* color: #f9933b; */
    background: linear-gradient(300deg, #000000, #f9933b);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.200);
}

.dropdown-content a:hover {
    background-color: #f0cf64;
    color: #111;
}

.dropdown-content a {
    padding: 15px;
    color: #fff;
    display: block;
    text-align: left;
    text-decoration: none;
    background: linear-gradient(300deg, #000000, #f9933b);
    -webkit-background-clip: text;
    color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-icons {
    /* justify-content: end; */
}

.navbar-icons i {
    margin-left: 1rem;
    background: linear-gradient(300deg, #000000, #f9933b);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

/* Hide toggle button by default */
.navbar-toggle {
    display: none;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        position: relative;
    }

    .navbar-toggle {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 22px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar-logo {
        position: absolute;
        left: 10px;
    }

    .navbar-icons {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 999;
    }

    .navbar-links ul {
        display: block;
        text-align: center;
    }

    .navbar-links.active {
        display: block;
    }

    #open-icon {
        display: block;
    }

    #close-icon {
        display: none;
    }

    .toggle-open #open-icon {
        display: none;
    }

    .toggle-open #close-icon {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .navbar-logo img {
        height: 40px;
    }

    .navbar-icons i {
        font-size: 16px;
        margin: 0 5px;
    }

    .navbar-toggle {
        font-size: 20px;
        right: 5px;
    }

    .navbar-links {
        top: 50px;
    }
}

/* Navbar End */


/* Banner Start */
.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.678)), url(/images/e-banner.jpg) repeat fixed;
    padding: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-container p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

.banner-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}
/* Banner End */



/* About Us Start */
.aboutus {
    padding: 2rem;
}

.aboutus-container {
    width: 100%;
    display: flex;
}

.left-aboutus {
    width: 48%;
}

.left-aboutus img {
    width: 80%;
}

.right-aboutus {
    width: 60%;
    padding-top: 2.5rem;
}

.right-aboutus h3 {
    margin-bottom: 1rem;
}

.right-aboutus h2 {
    margin-bottom: 1rem;
}

.right-aboutus p {
    color: #000000;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.right-aboutus button {
    padding: 10px 30px;
    border-radius: 30px;
    border: #f9933b 1px solid;
    background: linear-gradient(300deg, #ffffff, #f9933b);
    font-weight: 500;
    letter-spacing: 1px;
}

.right-aboutus button:hover {
    border-radius: 30px;
    border: #bdbcbc 1px solid;
    background: linear-gradient(300deg, #f9933b, #fff);
}

/* About Us End */



/* Services Start */
.services-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.719)), url(/images/services.jpg) fixed;
    padding: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-container h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.services-container p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
}

/* Services End */



/* Customer Start */
.customer {
    padding: 2rem;
    /* background-color: #dfdfdf; */
    background: linear-gradient(150deg, #ffffff, #ffc898e0);
}

.customer h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.customer-container {
    display: flex;
    justify-content: space-around;
}

.customer-child {
    text-align: center;
}

.customer-child h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.customer-child p {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Customer End */


/* Order Start */
.order {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
}

.order-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.order-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.order-img p{
    margin-top: 1rem;
    font-size: 14px;
}
.order-child {
    flex: 1;
    max-width: 500px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
}
.order input[type="text"],
.order input[type="email"],
.order input[type="date"],
.order input[type="time"] {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 30%;
    background: linear-gradient(300deg, #ffffff, #f9933b);
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(300deg, #f9933b, #fff);
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .order-container {
        flex-direction: column;
        text-align: center;
    }

    .order-child {
        max-width: 100%;
    }

    form {
        align-items: center;
    }

    button {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .order {
        padding: 10px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="time"] {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}

/* Order End */


/* Contact us Start */
.contactus {
    padding: 4rem 2rem;
    text-align: center;
    /* background: linear-gradient(150deg,#ffc898e0,#fff); */
}

.contactus p {
    font-size: 14px;
}

.contactus-head h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactus-head p {
    font-size: 14px;
    margin-bottom: 30px;
}

.all-contactus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactus-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map-side {
    flex: 1;
    margin-right: 20px;
}

.right {
    display: flex;
    justify-content: space-around;
}

.contactus-left h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.contactus-left p {
    margin: 10px 0;
    font-size: 14px;
}

.contactus-map iframe {
    /* width: 100%; */
    height: 250px;
}

.contactus-right {
    flex: 1;
}

.contactus-mail,
.contactus-call {
    margin-bottom: 20px;
}

.contactus-form {
    margin-top: 20px;
}

.labs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lab1,
.lab2,
.lab5 {
    width: 100%;
    margin-bottom: 15px;
}

.lab1 input,
.lab2 input,
.lab5 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.lab3 button {
    padding: 10px 20px;
    background-color: #333;
    color: #000000;
    border: none;
    cursor: pointer;
}

.lab3 button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {

    .all-contactus,
    .contactus-add {
        flex-direction: column;
        align-items: center;
    }

    .map-side,
    .contactus-right {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .contactus-head h2 {
        font-size: 24px;
    }

    .contactus-head p {
        font-size: 14px;
    }

    .labs {
        flex-direction: column;
    }
    .contactus-map iframe {
        height: 200px;
        width: 50%;
    }
    .lab1 input,
    .lab2 input,
    .lab5 textarea {
        width: 100%;
    }
    .contactus-form{
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .contactus-head h2 {
        font-size: 20px;
    }

    .contactus-head p {
        font-size: 12px;
    }

    .contactus-left h3,
    .contactus-right h3 {
        font-size: 18px;
    }

    .contactus-left p,
    .contactus-mail p,
    .contactus-call p {
        font-size: 14px;
    }

    .contactus-map iframe {
        height: 200px;
        width: 90%;
    }

    .lab1 input,
    .lab2 input,
    .lab5 textarea {
        padding: 8px;
    }

    .lab3 button {
        padding: 8px 15px;
    }
}


/* Footer Start */
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer-1 h2,h4,p{
    margin-bottom: 1rem;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-box,
.footerbox-1 {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
}
.footerbox-1 p{
    font-size: 14px;
}
.footer h2,
.footer h3 {
    color: #333;
    margin-bottom: 10px;
}

.footer p {
    color: #555;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-top: 1rem;
}

.footer ul li a {
    color: #111;
    font-size: 14px;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footericon1 a i{
    margin-right: 10px;
    margin-top: 1rem;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
        text-align: center;
    }

    .footer-box,
    .footerbox-1 {
        width: 100%;
        padding: 10px;
    }

    .footericon1 a {
        margin: 5px;
    }
}

@media screen and (max-width: 320px) {

    .footer h2,
    .footer h3 {
        font-size: 18px;
    }

    .footer p {
        font-size: 14px;
    }

    .footer ul li {
        margin: 3px 0;
    }

    .footer ul li a {
        font-size: 14px;
    }

    .footericon1 a {
        margin: 3px;
        padding: 5px;
    }
}

/* Footer End */